{% extends 'base.html '%}
{% block start %}

<div class="container">
    <h1>Add Receipe</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
        <input type="text" class="form-control" name="receipe_name">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe description</label>
        <textarea class="form-control" name="receipe_description"></textarea>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
        <input type="file" class="form-control" name="receipe_image">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>
<br>
<hr style="width: 80%; margin: 0 auto;">
<br>
<search style="text-align: center;">
  <form>
    <input name="search" placeholder="Search Receipes">
  </form>
</search>
<br>
<br>
<div class="container">
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Receipe Name</th>
        <th scope="col">Receipe Description</th>
        <th scope="col">Receipe Image</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
        {% for receipe in kitchen %}
    <tbody>
        <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ receipe.receipe_name }}</td>
        <td>{{ receipe.receipe_description }}</td>
        <td><img src='{{ receipe.receipe_image.url }}' width="100"></td>
        <td>
            <a href='/delete_receipe/{{ receipe.id }}' class='btn btn-danger'>Delete</a>
            <a href='/update_receipe/{{ receipe.id }}' class='btn btn-primary'>Update</a>
        </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endblock %}