{% extends 'base.html' %}
{% block start %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Practice</title>
</head>
<body>
    <h1>Django sasti practice</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum distinctio facere velit ad omnis explicabo dolor, necessitatibus adipisci, numquam a ea magni molestias eos, cum delectus voluptates quidem repudiandae voluptatibus!</p>
</body>
</html>
{% endblock %}